-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "papers" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "short_title" TEXT,
    "abstract" TEXT,
    "tl_dr" TEXT,
    "publication_date" TIMESTAMP(3),
    "submission_date" TIMESTAMP(3),
    "arxiv_id" TEXT,
    "doi" TEXT,
    "paper_url" TEXT,
    "pdf_url" TEXT,
    "source_url" TEXT,
    "project_url" TEXT,
    "citation_count" INTEGER NOT NULL DEFAULT 0,
    "reference_count" INTEGER NOT NULL DEFAULT 0,
    "page_count" INTEGER,
    "paper_type" TEXT,
    "status" TEXT,
    "language" TEXT,
    "license" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3),

    CONSTRAINT "papers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "entity_relationships" (
    "id" TEXT NOT NULL,
    "source_entity_type" TEXT NOT NULL,
    "source_entity_id" TEXT NOT NULL,
    "target_entity_type" TEXT NOT NULL,
    "target_entity_id" TEXT NOT NULL,
    "relationship_type" TEXT NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "metadata_json" JSONB,

    CONSTRAINT "entity_relationships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "startups" (
    "id" TEXT NOT NULL,
    "canonical_name" TEXT NOT NULL,
    "source_name" TEXT,
    "source_url" TEXT,
    "employee_count" INTEGER,
    "collected_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "startups_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "papers_slug_key" ON "papers"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "papers_arxiv_id_key" ON "papers"("arxiv_id");

-- CreateIndex
CREATE INDEX "entity_relationships_source_entity_type_source_entity_id_idx" ON "entity_relationships"("source_entity_type", "source_entity_id");

-- CreateIndex
CREATE INDEX "entity_relationships_target_entity_type_target_entity_id_idx" ON "entity_relationships"("target_entity_type", "target_entity_id");

-- CreateIndex
CREATE UNIQUE INDEX "entity_relationships_source_entity_id_target_entity_id_rela_key" ON "entity_relationships"("source_entity_id", "target_entity_id", "relationship_type");

-- CreateIndex
CREATE UNIQUE INDEX "startups_canonical_name_key" ON "startups"("canonical_name");

